* {
	margin: 0;
	padding: 0;
}

body {
	background-color:white;
	color:  #1a1a1a;
	font-family: 'Helvetica', sans-serif;
}

main {
	padding: 20px;
}

.hidden {
	display: none;
}

.mainHeader {
	display: flex;
	flex-direction: row;
}

#mainNav {
	flex: 0 1 auto;
	margin-top: 50px;
	height: 60px;
	margin-left: auto;
}

.logoHeader {
	width: 150px;
	height: auto;
	margin: 10px 0px 20px 20px;
}

#catchcopy {
	font-size: 70px;
	font-family: 'Dancing Script', cursive;
	margin: 100px 40px;
	text-align: center;
}

#mainNav ul li a {
	font-size: 16px;
	margin-left: 15px;
	margin-top: 10px;
	padding: 10px;
}

#mainContact {
	max-width: 980px;
	padding: 20px 20px 0 20px;
	flex-direction: row;
}


a:link, a:visited { 
	color: gray;
 	text-decoration: blink; 
 	font-weight: bold;
 	padding: 5px;
}

a:hover, a:active { 
	color: #ffb3b3;
	text-decoration: blink; 
	font-weight: bold;
	padding: 5px;
}

.container {
	margin: 0 auto;
    width: 1024px;
    background-color: white;
    text-align: center;
}


#title {
	font-family: 'Dancing Script', cursive, sans-serif;
	font-size: 80px;
	color: #ffb3b3;
	margin: 100px 40px;
    text-align: center;
}

#discription {
	font-size: 10px;
	line-height: 14px;
	color: #808080;
	margin-top: 20px;
}

.g-recaptcha {
	padding-top: 20px;
}

